html {
    font-family: 'Open Sans';
}

body {
    margin-right: 171px;
}

.legal-notice-content {
    margin-top: 150px;
    margin-left: 350px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4589ff;
    font-size: 61px;
}

h2 {
    color: #005DFF;
    font-size: 33px;
}

p {
    max-width: 60vw;
}

.back-from-legal-notice {
    height: 24px;
    width: 24.7px;
}

.legal-headline {
    display: flex;
    justify-content: space-between;
}

.legal-headline img {
    cursor: pointer;
    margin-block-start: 46px;
}

.legal_notice_html {
    background-color: #d2e3ff;
    border-radius: 8px;
}