@media (max-width: 768px){

    #greeting{
        height: 10%;
    }

    .container {
        justify-content: space-evenly;
        height: unset;
    }

    .icon-task{
        width: 80px;
    }

    .icon-task-border-none{
        width: 80px;
    }

    #urgent-left-top{
        justify-content: flex-start;
        gap: 24px;
    }

    #urgent-left-top > .task-id{
        font-size: 4rem;
    }

        .task-to-do-top{
            justify-content: flex-start;
        }

    .urgent-container{
        min-height: 120px;
        max-height: 120px;
    }

    #urgent-middle-container{
        height: 90px;
    }
    .tasks-container{
        flex-wrap: wrap;
        gap: 16px;
    }

    .urgent-container{
        min-width: 100%;
    }

    #task-to-do-container{
        min-height: 120px;
        min-width: 100%;
    }

    .tasks-box{
        width: calc(50% - 16px);
        max-height: 120px;
    }

    #task-container {
        width: 100%;
        height: unset; 
        align-items: flex-start;
    }

    .tasks-container{
        height: unset;
    }

    #summary-container{
        justify-content: center;
        height: calc(100vh - 97.3px);

    }

    #task-to-do-container {
        height: 50%;
    }

    #urgent-left-container{
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    #urgent-left-top{
        gap: 4px;
    
    }

    #task-id-{
        font-size: 2.5rem!important;
    }

    #urgent-left-top > img{
        border: 2px solid white!important;
    }

    #task-to-do-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .task-to-do-top{
        width: auto;
        gap: 16px;
    }

    #task-to-do-id-{
        font-size: 3rem;
    }

    #task-to-do-desc{
       
        margin-left: 1rem;
    }

    #urgent-date{
        font-size: clamp(1rem, 3vw, 2rem)
    }
}

@media (max-width: 412px){

    #summary-container{
        justify-content: space-evenly;
        gap: 30px

    }

    #urgent-left-top img{
        width: 75px;
    }

    .tasks-box{
        max-height: 50%;
    }

    #greeting{
        height: auto;
    }

    #task-to-do-container{
     min-height: 20%;   
    }

}


@media (max-width: 375px){
    #summary-container{
        justify-content: flex-start;
    }
}