@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v34-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  flex-direction: column;
  font-family: "Open Sans";
}


.align-center {
  align-items: center;
}


:root {
  --main-color: #4589ff;
}


.summary_html {
  background-color: #d2e3ff;
  border-radius: 8px;
}


#summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
  margin-left: 14% !important;
  margin-top: 5rem;
}


.d-flex {
  display: flex;
}


.flex-row {
  flex-direction: row !important;
}


.flex-col {
  flex-direction: column;
}


section {
  width: 100%;
  height: 33.333%;
  justify-content: center;
  align-items: center;
}


.main-page {
  display: flex;
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  position: relative;
  width: calc(100vw - 232px);
}


.d-none {
  display: none;
}


.fw-bold {
  font-weight: bold;
}


.fc-black {
  color: black;
}


.fs-2 {
  font-size: clamp(1rem, 5vw, 2rem);
}


.fs-3 {
  font-size: clamp(1rem, 5vw, 3rem);
}


.fs-4 {
  font-size: clamp(1rem, 5vw, 4rem);
}


.cl-main {
  color: var(--main-color);
}


.icon {
  width: clamp(45px, 3vw, 76px);
  object-fit: contain;
}


.icon-task {
  width: clamp(40px, 5vw, 76px);
  object-fit: contain;
  border: px solid white;
  border-radius: 50%;
  border: 4px solid white;
}


.icon-task-border-none {
  width: clamp(40px, 5vw, 76px);
  object-fit: contain;
  border: px solid white;
  border-radius: 50%;
}


.greeting-container {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 22px;
}


#greet-at-time {
  font-size: clamp(1rem, 5vw, 3rem);
}


#greet-user {
  font-size: clamp(1rem, 5vw, 4rem);
}


.urgent-container {
  width: 74%;
  color: white;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  transition: all 225ms ease-in-out;
}


.urgent-container:hover {
  color: #4589ff;
  background-color: white;
  border-top-left-radius: 0;
  cursor: pointer;
  scale: 1.05;
  transition: all 225ms ease-in-out;
}


.urgent-container:hover #urgent-middle-container {
  background-color: #4589ff;
  transition: all 225ms ease-in-out;
}


.task-id {
  justify-content: center;
  align-items: center;
}


#tasks {
  width: calc(90vw - 232px);
}


#task-container {
  width: calc(90vw - 232px);
  height: clamp(150px, 15vw, 217px);
  align-items: flex-start;
}


.task-box-top {
  padding-left: 1rem;
}


#urgent-left-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 16px;
}


#urgent-left-top {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


#task-urgent-desc {
  font-size: clamp(1rem, 3vw, 2rem);
}


#task-urgent-desc:hover {
  color: #4589ff;
}


#urgent-middle-container {
  align-self: center;
  width: 3px;
  background-color: white;
  border-radius: 25px;
  height: 90%;
}


#urgent-middle-container:hover {
  background-color: #4589ff;
}


#urgent-right-container {
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#urgent-date {
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 3rem);
}


#task-to-do-container {
  background-color: #d2e3ff;
}


#task-to-do-container:hover {
  background-color: white;
  color: #005dff;
  scale: 1.05;
}


#task-to-do-container:hover #task-to-do-id- {
  color: #005dff;
  transition: all 225ms ease-in-out;
}


.task-to-do-top {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}


.task-id {
  text-align: end;
}


#task-to-do-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}


.tasks-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  justify-content: space-between;
  width: 80%;
  gap: 16px;
  height: clamp(150px, 15vw, 217px);
}


.tasks-box {
  display: flex;
  color: #4589ff;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
  gap: 7px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}


.tasks-box:hover {
  border-top-left-radius: 0;
  background-color: #005dff;
  color: white;
  scale: 1.05;
  transition: all 225ms ease-in-out;
  cursor: pointer;
}


.tasks-box:hover .icon {
  border: 2px solid white;
  border-radius: 100%;
}


.tasks-box:hover .task-amount {
  color: white !important;
}


.tasks-box-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}


.tasks-box-bottom {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}


.task-amount {
  color: black !important;
}


.main-page {
  display: flex;
  width: 20% !important;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px;
  gap: 235px;
  position: fixed;
  width: 232px;
  height: auto;
  bottom: 0;
  left: 0px;
  top: 92px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
  border-radius: 0px;
}


.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 220px;
  width: 100%;
}


.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 126px;
  padding-bottom: 36px;
}


.sidebar button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px;
  gap: 20px;
  width: 200px;
  height: 46px;
  font-size: 16px;
  background: none;
  color: #42526e;
  border: none;
  outline: none;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.sidebar a {
  text-decoration: none;
}


.sidebar button:hover {
  cursor: pointer;
}


.main-content {
  width: 85%;
  height: calc(100vh - 84px);
}


#help-section-btn {
  cursor: pointer;
}