#reset-headline {
    margin-top: 48px;
}

.continue-btn {
    cursor: pointer;
    width: 168px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #4589ff;
    font-size: 23px;
    font-weight: 400;
    color: white;
    transition: all 125ms ease-in-out;
    margin-left: 120px;
    margin-top: 75px;
    margin-left: 0;
}

.continue-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-password {
    width: 390px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    line-height: 35px;
    margin-bottom: 55px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
}

#confirm-password {
    width: 390px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    line-height: 35px;
    margin-bottom: 55px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
}

#back-from-reset {
    position: absolute;
    left: 6%;
    top: 12%;
    cursor: pointer;
}

.reset-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 35%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.reset-container {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.reset-img {
    height: 74px;
    width: 326px;
}

.slide-top {
    -webkit-animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}