/* -Animation auf index.html überprüfen in responsive  */

/* -Animation auf index.html überprüfen in responsive  */

@media (width <=1200px) {
  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-56vh + 141px)) translateX(calc(-53vw + 126px));
      height: 122px;
      width: 100px;
      opacity: 1;
    }
  }
}

@media (width <=1024px) {
  @keyframes slide-tl-blue {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      height: 400px;
      width: 320px;
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-58vh + 141px)) translateX(calc(-55vw + 126px));
      height: 100px;
      width: 82px;
      opacity: 1;
    }
  }

  .login-screen {
    margin-top: 7%;
  }

  .sign-up {
    top: auto;
    right: auto;
    bottom: 4.5vh;
    width: 315px;
    height: 48px;
  }
}

@media (width <=768px) {
  form {
    width: 92vw;
  }

  .remember-me {
    margin-top: 0;
  }

  .underline {
    width: 88px;
  }

  .pw-recovery {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 40px;
    margin-inline-start: -35px;
  }

  .login-screen {
    transform: scale(0.8);
    height: 560px;
  }

  .login-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 197px;
    height: 14vh;
    margin-top: 24px;
  }

  #login-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 197px;
    height: 48px;
    margin-bottom: 8px;
  }

  .sign-up {
    bottom: 8.5vh;
  }
}

@media (width <=500px) {
  #email,
  #pw {
    width: 80vw;
  }

  .pw-recovery {
    width: 100vw;
    margin-inline-start: 12vw;
  }

  .login-screen {
    width: 100vw;
  }

  .sign-up {
    transform: scale(0.8);
    width: 82vw;
  }

  .sign-up p,
  .sign-up button {
    font-size: 20px;
    font-family: inherit;
  }

  .login-user,
  .login-guest {
    font-family: "Open Sans" !important;
    font-size: 20px;
  }

  @keyframes slide-tl-white {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      height: 122px;
      width: 100px;
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-60vh + 141px)) translateX(calc(-66vw + 126px));
      height: 78px;
      width: 64px;
      opacity: 0;
    }
  }

  @-webkit-keyframes slide-tl-white {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      height: 122px;
      width: 100px;
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-60vh + 141px)) translateX(calc(-66vw + 126px));
      height: 78px;
      width: 64px;
      opacity: 0;
    }
  }

  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-60vh + 141px)) translateX(calc(-66vw + 126px));
      height: 78px;
      width: 64px;
      opacity: 1;
    }
  }
}

@media (width <= 1024px) and (height <= 750px) {
  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-61vh + 141px)) translateX(calc(-57vw + 126px));
      height: 80px;
      width: 62px;
      opacity: 1;
    }
  }
  .login-btn {
    height: 18vh;
  }

  .sign-up {
    transform: scale(0.8);
    bottom: 1.5vh;
  }
}

@media (width <=500px) and (height <= 750px) {
  .login-btn {
    height: 17vh;
  }

  .sign-up {
    bottom: 2vh;
  }

  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(-41vh) translateX(-30vw);
      height: 78px;
      width: 64px;
      opacity: 1;
    }
  }
}

@media (width <= 370px) {
  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(-42vh) translateX(-34vw);
      height: 78px;
      width: 64px;
      opacity: 1;
    }
  }
}

@media (width <=340px) {
  .sign-up {
    width: 95vw;
  }
}
