body {
    caret-color: transparent;
    margin: 0;
    font-family: "Open Sans";
    overflow: hidden;
}

.d-none {
    display: none;
}

.blue-screen {
    width: 100vw;
    height: 100vh;
    background-color: #4589ff;
    display: flex;
    position: absolute;
    z-index: -1;
    animation: fade;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: inherit;
    animation-iteration-count: 1;
    opacity: 1;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide-tl-blue {
    -webkit-animation: slide-tl-blue 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-tl-blue 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
}

.slide-tl-white {
    -webkit-animation: slide-tl-white 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-tl-white 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
}

.sign-up-logo {
    width: 100px;
    height: 122px;
    position: absolute;
    top: 80px;
    left: 77px;
}

.stopAnimation {
    animation-fill-mode: forwards;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@-webkit-keyframes slide-tl-blue {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        height: 400px;
        width: 400px;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-44.5vh) translateX(-43vw);
        transform: translateY(-44.5vh) translateX(-43vw);
        height: 200px;
        width: 200px;
        opacity: 1;
    }
}

@keyframes slide-tl-blue {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        height: 400px;
        width: 320px;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-44.5vh) translateX(-43vw);
        transform: translateY(calc(-50vh + 141px)) translateX(calc(-50vw + 126px));
        height: 122px;
        width: 100px;
        opacity: 1;
    }
}

@-webkit-keyframes slide-tl-white {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        height: 400px;
        width: 320px;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-35vh) translateX(-43vw);
        transform: translateY(-35vh) translateX(-43vw);
        height: 122px;
        width: 100px;
        opacity: 0;
    }
}

@keyframes slide-tl-white {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        height: 400px;
        width: 320px;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-35vh) translateX(-43vw);
        transform: translateY(-35vh) translateX(-43vw);
        height: 160px;
        width: 130px;
        opacity: 0;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo-box {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo-box-index {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 91vh;
    top: 80px;
    left: 77px;
}

.blue-logo,
.white-logo {
    width: 265px;
    height: 324px;
}

.back-arrow {
    position: absolute;
    left: 6%;
    top: 8%;
    cursor: pointer;
}

.login-screen {
    width: 652px;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    animation: fade1;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: inherit;
    animation-iteration-count: 1;
    opacity: 0;
    position: relative;
    background-color: white;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-screen h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    font-family: "Open Sans";
}

.underline {
    height: 3px;
    width: 155px;
    background-color: #4589ff;
    border: none;
    border-radius: 3px;
    margin-top: -10px;
}

.sign-up {
    position: absolute;
    top: 67px;
    right: 86px;
    width: 315px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-family: "Open Sans";
    align-items: center;
    animation: fade1;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: inherit;
    animation-iteration-count: 1;
    opacity: 0;
}

.sign-up button {
    font-family: 'Open Sans' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 48px;
    padding: 10px 16px;
    font-size: 23px;
    font-family: "Opens Sans";
    border-radius: 8px;
    color: white;
    background-color: #4589ff;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 422px;
    height: 129px;
    margin-top: 35px;
    caret-color: transparent;
}

.reset-instructions {
    height: 56px;
    width: 589px;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

input::placeholder {
    color: #d1d1d1;
    font-size: 19px;
    font-weight: 400;
}

#email {
    width: 422px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    line-height: 35px;
    margin-bottom: 29px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    caret-color: black;
    background: url(../login/img/email.png) no-repeat scroll 95% 7px;
}

#pw {
    z-index: 1;
    width: 422px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    line-height: 35px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    caret-color: black;
    background: url(../login/img/padlock.png) no-repeat scroll 95% 7px;
}

#user {
    width: 422px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    line-height: 35px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    caret-color: black;
    background: url(../login/img/user.png) no-repeat scroll 95% 7px;
}

.c-blue {
    color: #005dff;
}

.pw-recovery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
    width: 426px;
    height: 60px;
    font-size: 19px;
    font-family: "Open Sans";
    margin-inline-start: -6px;
    margin-top: 17px;
}

.remember-me {
    margin-top: 17px;
    font-size: 19px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 6px;
    padding-top: 3px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #ffffff;
    border: 2px solid #4589ff;
    border-radius: 3px;
}

.control input:checked~.control_indicator {
    background: white;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: white;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 7;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: -5px;
    width: 5px;
    height: 17px;
    border: solid #4589ff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

.login-btn {
    width: 389px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;
    transition: all 125ms ease-in-out;
}

.login-user {
    cursor: pointer;
    width: 155px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #4589ff;
    font-size: 22px;
    font-weight: 400;
    color: white;
    transition: all 125ms ease-in-out;
    font-family: "Open Sans";
}

.login-guest {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 197px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    font-size: 22px;
    color: #647188;
    transition: all 125ms ease-in-out;
    font-family: "Open Sans";
}

.sign-up-btn {
    cursor: pointer;
    width: 155px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #4589ff;
    font-size: 23px;
    font-weight: 400;
    color: white;
    transition: all 125ms ease-in-out;
    margin-left: 120px;
    margin-top: 83px;
}

.position-bottom {
    position: absolute;
    bottom: 24px;
}

.sign-btn {
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.sign-btn:hover,
.sign-up-btn:hover,
.login-user:hover,
.continue-btn:hover {
    background-color: #045fff;
    box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
}

.login-guest:hover {
    color: #4589ff;
    border: 2px solid #4589ff;
    box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
}

.forgot a {
    text-decoration: none;
}

.check-inp {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-parent {
    margin-top: 19px;
}

.checkbox {
    position: absolute;
    top: 23px;
    left: -35px;
    height: 16px;
    width: 16px;
    border: 2px solid green;
    border-radius: 3px;
}

.checkbox1:checked:before {
    background-color: green;
}

.center-signup-btn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    transition: none;
}

.logos-sign-up {
    background-color: #4589ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-screen-no-animation {
    width: 652px;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 8%);
    border-radius: 30px;
    position: relative;
    background-color: white;
}

.login-screen-no-animation h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    font-family: "Open Sans";
}

.sign-up-no-animation {
    position: absolute;
    top: 67px;
    right: 86px;
    width: 315px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-family: "Open Sans";
    align-items: center;
}

.sign-up-no-animation button {
    font-family: 'Open Sans' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 48px;
    padding: 10px 16px;
    font-size: 23px;
    font-family: "Opens Sans";
    border-radius: 8px;
    color: white;
    background-color: #4589ff;
    border: none;
}

.reset-box {
    width: 761px;
    height: 544px;
}


/* animation from reset */

.reset-animation {
    background-color: #4589ff;
    animation: mymove 0.1s ease;
}

@keyframes mymove {
    from {
        background-color: #4589ff;
    }
    to {
        background-color: white;
    }
}

.shadow-drop-2-center {
    -webkit-animation: shadow-drop-2-center 0.27s linear(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.27s linear(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.slide-password-email {
    -webkit-animation: slide-password-email 0.27s linear(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-password-email 0.27s linear(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-password-email {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-password-email {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


/* .scale-down-center {
    -webkit-animation: scale-down-center 0.270s linear(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.270s linear(0.250, 0.460, 0.450, 0.940) both;
} */

.scale-down-center {
    -webkit-animation: scale-down-center 0.2s linear both;
    animation: scale-down-center 0.2s linear both;
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scaleX(0.875);
        transform: scaleX(0.875);
    }
    100% {
        -webkit-transform: scaleX(0.875);
        transform: scaleX(0.875);
        opacity: 0;
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scaleX(0.875);
        transform: scaleX(0.875);
    }
    100% {
        -webkit-transform: scaleX(0.875);
        transform: scaleX(0.875);
        opacity: 0;
    }
}

.new-acc-created {
    background-color: white;
    text-align: center;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.new-acc-created-container {
    position: absolute;
    top: 250px;
}

.new-acc-created-containe h4 {
    margin: 0;
    font-family: 'open sans';
    font-size: 16px;
}