@media (width <= 1024px) {
  .logo-box-index {
    width: auto;
  }

  .startpage-logo {
    width: 82px;
    height: 100px;
    position: absolute;
    top: -6vh;
    left: -4vw;
  }

  .login-screen {
    margin-top: 7%;
  }

  .sign-up {
    top: auto;
    right: auto;
    bottom: 4.5vh;
    width: 315px;
    height: 48px;
  }

  .sign-up-no-animation {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 5vh;
  }
}

@media (width <= 900px) {
  form {
    width: 49vw;
  }
}

@media (width <=768px) {
  /* #user::placeholder {
    font-size: 16px;
  }

  .startpage-logo {
    width: 60px;
    height: 80px;
    top: -8vh;
    left: -6vw;
  }

  .remember-me {
    margin-top: 0;
  }

  .underline {
    width: 88px;
  }

  form {
    margin-top: -10px;
  }
  #email,
  #pw {
    width: 66vw;
  }

  .pw-recovery {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 40px;
    margin-inline-start: -25vw;
    width: 47vw;
  }

  .pw-recovery,
  .remember-me {
    font-size: 16px;
  }

  .underline {
    width: 69px;
    background-color: #4589ff;
    border-radius: 3px;
    margin-top: -13px;
  }

  .login-screen {
    transform: scale(0.8);
    height: 560px;
  }

  .login-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 197px;
    height: 14vh;
    margin-top: 24px;
  }

  #login-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 56vw;
    height: 6vh;
    font-size: 16px;
  }

  #guest-btn {
    width: 56vw;
    height: 6vh;
    font-size: 16px;
    justify-content: center;
  }

  .sign-up {
    bottom: 8.5vh;
  }

  .login-screen-no-animation {
    height: 67vh;
    width: 84vw;
    margin-block-end: -17px;
  }

  .login-screen-no-animation h1 {
    font-size: 40px;
    line-height: inherit;
  }*/

  @keyframes slide-tl-blue {
    100% {
      -webkit-transform: translateY(-44.5vh) translateX(-43vw);
      transform: translateY(calc(-58vh + 141px)) translateX(calc(-55vw + 126px));
      height: 100px;
      width: 82px;
      opacity: 1;
    }
  }

  .login-screen-no-animation {
    transform: scale(0.8);
    height: 560px;
  }

  .pw-recovery {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 50px;
    margin-inline-start: -35px;
  }

  .remember-me {
    margin-top: 0;
  }

  .login-btn {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 16vh;
    align-items: center;
  }

  .login-user {
    width: 194px;
  }
}

@media (width <= 650px) {
  #email,
  #pw {
    width: 67vw;
  }

  .pw-recovery {
    width: 67vw;
  }
}

@media (width <= 500px) {
  .startpage-logo {
    width: 64px;
    height: 78px;
    top: -7.5vh;
    left: -13vw;
  }
  .sign-up-no-animation {
    transform: scale(0.7);
  }
}

@media (width <= 357px) {
  .startpage-logo {
    top: -56px;
    left: -47px;
  }
}

@media (width <= 1024px) and (height <= 750px) {
  .startpage-logo {
    width: 62px;
    height: 80px;
    position: absolute;
    top: -10vh;
    left: -7vw;
  }

  .login-screen-no-animation {
    margin-top: 15px;
  }
}
