@media (width <= 1208px) {
  .logo-box-index {
    width: auto;
  }

  .login-screen-no-animation {
    width: 57vw;
  }

  .startpage-logo {
    width: 100px;
    height: 122px;
    position: absolute;
    top: -5vh;
    left: -4vw;
  }

  .login-screen {
    margin-top: 7%;
  }

  .sign-up {
    top: auto;
    right: auto;
    bottom: 4.5vh;
    width: 315px;
    height: 48px;
  }

  .sign-up-no-animation {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 5vh;
  }
}

@media (width <= 900px) {
  #email,
  #pw {
    width: 46vw;
  }

  form {
    width: 49vw;
  }
}

@media (width <=768px) {
  #user::placeholder {
    font-size: 16px;
  }

  .startpage-logo {
    width: 60px;
    height: 80px;
    top: -8vh;
    left: -6vw;
  }

  .remember-me {
    margin-top: 0;
  }

  .underline {
    width: 88px;
  }

  form {
    margin-top: -10px;
  }
  #email,
  #pw {
    width: 66vw;
  }

  .pw-recovery {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 40px;
    margin-inline-start: -25vw;
    width: 47vw;
  }

  .pw-recovery,
  .remember-me {
    font-size: 16px;
  }

  .underline {
    width: 69px;
    background-color: #4589ff;
    border-radius: 3px;
    margin-top: -13px;
  }

  .login-screen {
    transform: scale(0.8);
    height: 560px;
  }

  .login-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 197px;
    height: 14vh;
    margin-top: 24px;
  }

  #login-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 56vw;
    height: 6vh;
    font-size: 16px;
  }

  #guest-btn {
    width: 56vw;
    height: 6vh;
    font-size: 16px;
    justify-content: center;
  }

  .sign-up {
    bottom: 8.5vh;
  }

  .login-screen-no-animation {
    height: 67vh;
    width: 84vw;
    margin-block-end: -17px;
  }

  .login-screen-no-animation h1 {
    font-size: 40px;
    line-height: inherit;
  }
}

@media (width <= 490px) {
  .startpage-logo {
    width: 60px;
    height: 80px;
    top: -8vh;
    left: -11vw;
  }
  .sign-up-no-animation {
    transform: scale(0.7);
  }
}

@media (width <= 490px) {
  .startpage-logo {
    width: 60px;
    height: 80px;
    top: -8vh;
    left: -17vw;
  }
}
