@media (max-width: 1024px) {
    body {
        margin-left: 36px !important;
        margin-right: 36px !important;
    }

    #header-name,
    #help-section-btn {
        display: none;
    }
    
    .help-content {
        margin-left: 0 !important;
        margin-top: 100px !important;
        align-items: center;
    }

    .help-headline img {
        cursor: pointer;
        margin-block-start: 46px;
        position: absolute;
        right: 2rem;
    }

    h1 {
        color: black !important;
        font-size: 47px !important;
        margin-bottom: 20px !important;
    }

    h2 {
        font-size: 23px !important;
        margin-bottom: 2rem !important;
    }

    .list-item {
        min-height: 90px;
        margin-bottom: 6rem;
        align-items: center !important;
    }

    h3 {
        margin-bottom: 2rem;
    }

    p {
        max-width: 60vw !important;
    }
}

@media (max-width: 620px) {    
    #header-name,
    #help-section-btn {
        display: none !important;
    }

    .back-from-help {
        width: 16px !important;
        height: 15.5px !important;
    }

    h1 {
        margin-right: 24px !important;
    }
    .list-item {
        margin-bottom: 80px;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 40px !important;
        margin-top: 36px !important;
    }
    .list-item {
        margin-bottom: 80px;
    }
}