.add-task-content {
  top: -141px !important;
}

.header {
  display: none;
}

.add-tasks-board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 422px;
  position: relative;
  margin-top: 45px;
  margin-bottom: -22px;
}

.close-add-task-board {
  position: absolute;
  right: -9px;
  top: -1px;
}

.add-title {
  font-size: 48px;
}

.main-buttons {
  display: none;
}

.btn-create {
  height: 50px;
  padding: 10px 8px;
  border: 1px solid #4589ff;
  background: #4589ff;
  border-radius: 8px;
  color: white;
  font-family: "Open Sans";
  font-size: 23px;
  line-height: 120%;
}

/*                   RESPONSIV SECTION                      **/

@media (width <= 1600px) {
  .add-task-content {
    width: 449px;
  }
}

@media (width <= 1024px) {
  .profile-picture {
    display: block !important;
  }

  .main-logo {
    content: url(../templates/img/logo_white.png) !important;
  }

  .logo-in-blue {
    content: url(../templates/img/logo_blue.png) !important;
  }

  header {
    background-color: #4589ff !important;
  }

  .btn-create {
    display: none;
  }
}

@media (width <= 767px) {
  .add-task-content {
    top: -100px !important;
    bottom: 277px !important;
    display: flex;
    align-items: center;
    width: 89vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    gap: 34px;
    position: absolute;
    height: 48px;
    right: 0px;
    left: 0px;
    top: 0px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .logo {
    width: 47px;
    height: 57.3px;
  }

  .close-add-task-board {
    top: 49px;
  }
}

@media (width <= 480px) {
  .add-tasks-board-head {
    width: 83vw;
  }
}

@media (width <= 400px) {
  .add-tasks-board-head {
    width: 81vw !important;
  }

  .select-date {
    width: 91% !important;
  }

  .add-task-content {
    margin-top: 141px !important;
  }

  .elect-contacts,
  .select-category,
  .add-subtask {
    width: 95% !important;
    margin-inline-start: -8px !important;
  }
  .date-box,
  .category-box,
  .contacts-box,
  .description-box,
  .subtask-box {
    width: 83vw !important;
  }
}
@media (width <= 479px) {
}
