body {
  caret-color: transparent;
}

.kanban {
  margin-top: -4vh;
  width: 69vw;
  text-align: justify;
  color: #4589ff;
  display: none;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.board {
  display: flex;
  flex-direction: column;
  height: auto;

  margin-top: 153.7px;
  margin-left: 322px;
}

.font {
  font-family: "Open Sans";
}

.inpbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  width: 15vw;
  height: 51px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #a8a8a8;

  margin-left: 1%;
}

.inp-top::placeholder {
  color: lightgray;
}

.board-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 46px;
  width: 1078px;
  margin-bottom: 42px;
  left: 299px;
  top: 47px;
}

.inp-top {
  width: 100%;
  line-height: 2.5vh;
  border: none;
  outline: none;
  caret-color: inherit;
}

.inp-top:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-top {
  border: 1px solid #4589ff;
  color: white;
  font-family: "Open Sans";
  font-size: 23px;
  line-height: 120%;
  height: 48px;
  background: #4589ff;
  border-radius: 8px;
}

.board-main {
  display: flex;
  margin-inline-start: -3px;
  height: 73vh;
}

#search {
  border-left: 1px solid #d1d1d1;
  object-fit: scale-down;
  height: 31px;
  margin-inline-end: -17px;
  padding-left: 9px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16.5vw;
  height: 51px;
  margin-bottom: 24px;
}

.head h2 {
  padding-inline-start: 10px;
}

.todo-head img {
  object-fit: scale-down;
}

.mr26 {
  margin-right: 57px;
  padding: 8px;
}

.pointer {
  cursor: pointer;
}

.todo-content,
.pogress-content,
.await-feedback-content,
.done-content {
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58vh;
  padding-top: 11px;
}

.card {
  caret-color: transparent;
  background-color: white;
  width: 14.4vw;
  height: auto;
  padding: 16px 13px;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  margin-bottom: 16px;
}

.card-head {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-block-start: -6px;
}

.title-text {
  font-size: 16px;
  color: #4589ff;
  margin-top: 15px;
  margin-bottom: -13px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: -20px;
  position: relative;
}

.done-p {
  font-family: "Inter";
}

.card-invite {
  margin-top: -15px;
}

.btn-footer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
}

.card-invite {
  display: flex;
}

.invate {
  background-color: green;
  padding: 10px;
  width: 20px;
  text-align: center;
  border-radius: 151px;
  border: 1px solid white;
  color: white;
  margin-right: -6px;
  font-family: "Inter";
}

.pogress-box {
  width: 100%;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: -16px;
}

.pogressbar {
  width: 60%;
  height: 8px;
  background-color: #b5b5b545;
  border-radius: 7%;
}

.pogress {
  width: 33%;
  background-color: #4589ff;
  height: 8px;
  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
}

/* Popup Sections */

.popup {
  inset: 0;
  background-color: #ffffffa1;
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  background: #ffffff;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.popup-card-title {
  display: flex;
  width: 622px;
  height: 130px;
  align-items: center;
  margin-top: 25px;
}

.responsible {
  padding: 4px 36.5px;
  background: #fc71ff;
  border-radius: 8px;
  color: white;
}

.popup-title {
  height: 143px;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.popup-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  margin-top: 25px;
  margin-bottom: 0;
}

.date-box-popup {
  display: flex;
  align-items: baseline;
}

.due-date {
  font-family: inter;
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
}

#date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  margin-left: 25px;
}

.popup-card p {
  margin-top: 25px;
  margin-bottom: 0;
}

.priority-box {
  display: flex;
}

.priority {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
}

#priority {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  margin-left: 25px;
}

.assigned-to {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
}

#contact0,
#contact1,
#contact2 {
  display: flex;
}

#popup_name {
  margin-left: 25px;
}
.popup_name {
  margin-left: 25px;
}

.d-none {
  display: none;
}

.img-position {
  position: absolute;
  top: 20px;
}

.inter {
  font-family: "Inter";
}

.gray {
  color: #808080a6;
}
.close {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.close-img {
  position: absolute;
  transform: rotate(90deg);
}

.edit-box {
  width: 542px;
  display: flex;
  justify-content: end;
  margin-right: 0;
  margin-block-start: -24px;
}

#contact0,
#contact1,
#contact2 {
  margin-top: 7px;
}

#popup_name_logo {
  border-radius: 58px;
  background-color: #ffbc00;
  width: 45px;
  height: 45px;
  margin-block-start: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hover {
  background-color: #7da2e1ac;
  border-radius: 24px;
  margin-bottom: 10px;
}
/* .choice:hover {
  background-color: #7da2e1ac;
} */

/* ANIMATION SECTION  */
.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* ANIMATION SECTION END */

.for-tablet {
  display: flex;
}
