.design {
  background-color: #ff7a00;
}

.sales {
  background-color: #fc71ff;
}

.backoffice {
  background-color: #1fd7c1;
}

.marketing {
  background-color: #0038ff;
}

.media {
  background-color: #ffc701;
}
