<img onclick="backToHome()" src="../templates/img/logo_white.png" class="main-logo" />
<div class="header-right">
  <div>
    <span id="header-name">Kanban Project Management Tool</span>
  </div>
  <div>
    <img
      onclick="openHelpSection()"
      src="../templates/img/help.png"
      id="help-section-btn"
    />
  </div>
  <div class="profile-box">
    <img onclick="openLogoutOption()" src="../templates/img/placeholder.jpg" class="profile-picture" />
  </div>
  <div  class="logout-box d-none" id="logout-box-resp">
    <a onclick="logoutFromJoin()" href="#">Log out</a>
  </div>
  <div  class="logout-box d-none" id="logout-box">
    <a href="../help/help.html">Help</a>
    <a href="../legal_notice/legal_notice.html">Legal Notice</a>
    <a href="../privacy/privacy.html">Privacy</a>
    <a onclick="logoutFromJoin()" href="#">Log out</a>
  </div>
  <div onclick="closeLogoutDiv()" class="close-logout d-none" id="close-logout"></div>
</div>