<img onclick="backToHome()" src="../templates/img/logo_white.png" class="main-logo" />
<div class="header-right">
  <div>
    <span id="header-name">Kanban Project Management Tool</span>
  </div>
  <div>
    <img
      onclick="openHelpSection()"
      src="../templates/img/help.png"
      id="help-section-btn"
    />
  </div>
  <div class="profile-box">
    <img onclick="openLogoutOption()" src="../templates/img/placeholder.jpg" class="profile-picture" />
  </div>
  <div onclick="logoutFromJoin()" class="logout-box d-none" id="logout-box">
    <img src="../templates/img/logout.png">
  </div>
</div>