<div class="main-page">
  <div id="sidebar" class="sidebar">
    <div class="sidebar-top">
      <div id="summary_bg">
        <a href="../summary/summary.html" id="summary-html">
          <button class="font-family">
            <img src="../templates/img/summary.png" />
            <span id="summery.html">Summary</span>
          </button>
        </a>
      </div>

      <div id="board_bg">
        <a href="../board/board.html" id="board-html">
          <button class="font-family">
            <img src="../templates/img/board.png" />
            <span>Board</span>
          </button>
        </a>
      </div>

      <div id="addtask_bg">
        <a href="../add_task/add_task.html" id="add-task-html">
          <button class="font-family">
            <img src="../templates/img/add_task.png" />
            <span>Add task</span>
          </button>
        </a>
      </div>

      <div id="contacts_bg">
        <a
          href="../contacts/contacts.html"
          id="contacts-html"
          onclick="renderContactList()"
        >
          <button class="font-family">
            <img src="../templates/img/contacts.png" />
            <span>Contacts</span>
          </button>
        </a>
      </div>
    </div>

    <div class="sidebar-bottom">
      <div id="notice_bg">
        <a href="../legal_notice/legal_notice.html" id="legal-notice-html">
          <button class="font-family">
            <img src="../templates/img/legal_notice.png" />
            <span>Legal notice</span>
          </button>
        </a>
      </div>

      <div id="privacy_bg">
        <a href="../privacy/privacy.html" id="privacy-html">
          <button class="font-family">
            <img src="../templates/img/padlock.png" />
            <span>Privacy</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
