<div class="main-page">
  <div id="sidebar" class="sidebar">
    <div class="sidebar-top">
      <a href="../summary/summary.html" id="summary-html">
        <button class="font-family">
          <img src="../templates/img/summary.png" />
          <span id="summery.html">Summary</span>
        </button>
      </a>

      <a href="../board/board.html" id="board-html">
        <button class="font-family">
          <img src="../templates/img/board.png" />
          <span>Board</span>
        </button>
      </a>

      <a href="../add_task/add_task.html" id="add-task-html">
        <button class="font-family">
          <img src="../templates/img/add_task.png" />
          <span>Add task</span>
        </button>
      </a>

      <a
        href="../contacts/contacts.html"
        id="contacts-html"
        onclick="renderContactList()"
      >
        <button class="font-family">
          <img src="../templates/img/contacts.png" />
          <span>Contacts</span>
        </button>
      </a>
    </div>

    <div class="sidebar-bottom">
      <a href="../legal_notice/legal_notice.html" id="legal-notice-html">
        <button class="font-family">
          <img src="../templates/img/legal_notice.png" />
          <span>Legal notice</span>
        </button>
      </a>

      <a href="../privacy/privacy.html" id="privacy-html">
        <button class="font-family">
          <img src="../templates/img/padlock.png" />
          <span>Privacy</span>
        </button>
      </a>
    </div>
  </div>
</div>
