@media (width <=1900px) {
    .circle {
        margin-left: 0;
    }
}

@media (width <=1700px) {
    .contact-list-container {
        width: 25vw;
    }
    .contact {
        width: 18vw;
    }
    .contact-right {
        left: 45vw;
    }
}

@media (width <=1350px) {
    /* .name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .contact-list-container {
        width: 27vw;
    }
    .contact-name {
        font-size: 16px;
    }
    .contact-email {
        font-size: 14px;
    }
}

@media (width <=1280px) {
    .contact-right {
        position: absolute;
        top: 150px;
        left: 300px;
        overflow: hidden;
        height: 80vh;
        width: 70vw;
    }
    #backarrow {
        position: absolute;
        right: 5vh;
        height: 20px;
        width: 20px;
    }

    .tasks-container {
        width: 68%;
    }
}

@media (width <=1210px) {
    .contact-list-container {
        width: 360px;
    }
}

@media (width <=1024px) {
    .new-contact-btn {
        padding: 14px 6px;
        right: 5%;
        top: 85%;
    }
    .contact-list-container {
        margin-left: 0;
    }
    .contact-right {
        position: absolute;
        top: 100px;
        left: 350px;
        overflow: hidden;
    }
    .contact {
        padding: 15px 20px;
        width: 235px;
    }
    .circle {
        margin-left: 0;
    }
    .contact-email {
        font-size: 14px;
        color: #4589FF;
    }
    .img-container {
        margin-top: 50px;
    }
    form {
        margin-top: 50px;
    }
    #add_contact_container {
        height: 94vh;
    }
    .new-contact-btn-container {
        margin-top: 10px;
    }
    #task-urgent-desc {
        font-size: clamp(1rem, 3vw, 1rem);
    }
}

@media (width <=860px) {
    .name h1 {
        margin-left: 20px;
    }
    .edit-contact {
        position: absolute;
        left: 21%;
        top: 92%;
    }
}

@media (width <=800px) {
    .contact-list-container {
        width: 100vw;
        padding-top: 50px;
        height: 90vh;
    }
    .contact-list-inner-container {
        width: 90vw;
        align-items: center;
    }
    .underline {
        width: 90vw;
    }
    .new-contact-btn {
        right: 5%;
        top: 11%;
        font-size: 16px;
    }
    .btn-img {
        width: 25px;
        height: 22px;
    }
    #add_contact_container {
        width: 100vw;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .add-contact-header {
        border-top-right-radius: 0;
    }
    .new-contact-btn-container {
        padding-top: 50px;
    }
    .contact {
        width: 50vw;
    }
    .circle {
        margin-right: 10px;
    }
    .contact-right {
        width: 85vw;
        left: 10vw;
        top: 25vh;
        height: 68vh;
    }
    .name-container {
        justify-content: flex-start;
        margin: 0;
    }
    #name_right {
        margin-left: 0;
    }
    #backarrow {
        position: absolute;
        right: 5vh;
        height: 20px;
        width: 20px;
    }
    .contact-information {
        margin-left: 0;
    }
}

@media (width <=580px) {
    #add_contact_container {
        height: 100vh;
        width: 80vw;
    }
    .add-contact-header {
        width: 100vw;
    }
    .add-contact-information {
        width: 100vw;
    }
    form input {
        width: 80vw !important;
    }
    .new-contact-btn-container {
        width: 80vw;
    }
}


/* height */

@media (height <=1201px) {
    .new-contact-btn-container {
        padding-top: 10px;
    }
    .contact-list-container {
        height: 91vh;
    }
}